{% extends 'events/base.html' %}

{% block content %}

        <center>
            {%if user.is_authenticated %}

                <h1> Add Venue To Database </h1>
                <br />
                <br />
                {% if submitted %}
                    Your Venue Was Submitted Successfully!
                {% else %}
                    <form action="" method="POST">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit" value="Submit" class="btn btn-secondary" />
                    </form>
                {% endif %}
            
           {% else %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Sorry! You must be Logged In or Registered to View this page...
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>                    
                    <br>
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary"> Login </a>
                    <br> <br>
                    <a href='{% url 'register_user' %}' class="btn btn-outline-success">Register Here</a>
           {% endif %}


        </center>

{% endblock %}