{% extends 'events/base.html' %}


{% block content %}

    {% if user.is_authenticated %}
        <h1> Update Venue... </h1>
        <br>
        <form action='' method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Update" class="btn btn-secondary" />
    {% else %}
        <h1> Sorry! You must be Logged In to View this page... </h1>
        <br>
        <a href='{% url 'login' %}' class="btn btn-outline-secondary">Login Here</a>

    {% endif %}
        
{% endblock %}